@keyframes popup {
  0% {
    opacity: 0;
    /* transform: scale(0.8); */ }
  100% {
    opacity: 100%; } }

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(10%); }
  100% {
    opacity: 100%; } }

/* button animation */
@keyframes btnanimate1 {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

@keyframes btnanimate2 {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes btnanimate3 {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes btnanimate4 {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes fadeout {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0; } }

@keyframes goaway {
  0% {
    left: 0;
    width: 100%; }
  100% {
    left: 100vw;
    width: 0; } }

@keyframes comein {
  0% {
    left: 100vw; }
  100% {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px; }

.about {
  background-color: white;
  border-radius: 1rem;
  width: 80%;
  padding: 3rem;
  margin-top: 5rem;
  padding: 2rem 2rem;
  background-image: url(../img/chuttersnap-dWSTB1_WoyA-unsplash.jpg);
  background-size: cover;
  background-position-y: 90%;
  background-position-x: 50%;
  -webkit-box-shadow: 13px 10px 18px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 13px 10px 18px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 13px 10px 18px -3px rgba(0, 0, 0, 0.5); }
  .about--header {
    font-size: 5rem;
    text-transform: uppercase; }
  .about--text {
    font-size: 1.6rem;
    width: 30%; }

.category--box {
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-shadow: 18px 21px 25px -2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 18px 21px 25px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 18px 21px 25px -2px rgba(0, 0, 0, 0.32);
  transition: all .5s; }
  .category--box:hover {
    transform: scale(1.1); }
  .category--box:hover .category--text {
    transform: translateX(-1rem) scale(1.1); }

.category--text {
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bolder;
  transition: all .5s; }
  .category--text--light {
    background-image: linear-gradient(102deg, white 0%, #00ffb7 30%, #00ffc3 30%, #00a2ff 100%); }
  .category--text--dark {
    background-image: linear-gradient(102deg, #7700ff 0%, #006eff 30%, #0059ff 30%, blue 100%); }

.white-text {
  color: white;
  margin: 0; }

.red-text {
  color: red; }

.black-text {
  color: black; }

.header {
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  text-align: center; }

.blue-text {
  color: #0136B4; }

.u-margin-bottom {
  margin-bottom: 2.5rem; }

.u-margin-top {
  margin-top: 2.5rem; }

/* buttons(component) */
#nikebtn,
#nike2btn,
#adidasbtn,
#dcbtn,
#racebtn {
  position: absolute;
  top: 80%;
  left: 0%; }

#adidasbtn {
  color: #121637; }

#racebtn {
  color: black; }

#adidasbtn:hover span {
  background: linear-gradient(to right, #0077ff, #121637); }

#nikebtn:hover span {
  background: linear-gradient(to right, #ff0000, #ff8717); }

#nike2btn:hover span {
  background: linear-gradient(to right, #0077ff, #110068); }

#dcbtn:hover span {
  background: linear-gradient(to right, #00c3ff, white); }

#racebtn:hover span {
  background: linear-gradient(to right, #d33d26, #dd1515); }

.btn {
  /* position: relative;     */
  color: #ffffff;
  padding: 20px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 18px 46px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 46px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 46px -7px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  overflow: hidden;
  z-index: 300;
  transition: all .4s;
  animation: popup 1s ease-in; }
  .btn:hover {
    transform: translateX(5px); }
    .btn:hover span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      animation: btnanimate1 2s linear infinite; }
    .btn:hover span:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      animation: btnanimate2 2s linear infinite;
      animation-delay: 1s; }
    .btn:hover span:nth-child(3) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      animation: btnanimate3 2s linear infinite; }
    .btn:hover span:nth-child(4) {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      animation: btnanimate4 2s linear infinite;
      animation-delay: 1s; }
  .btn:active {
    transform: scale(0.9); }

.pncbox {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  display: inline-block;
  display: flex;
  flex-direction: column;
  width: 150px;
  position: absolute;
  top: 50%;
  right: 0;
  transition: all .3s;
  margin: 5px 0px 5px 5px;
  animation: slideleft 0.8s ease-in; }
  .pncbox--pricetag {
    padding: 16px 0px;
    font-weight: lighter;
    font-size: 60px;
    width: 90%;
    position: relative; }
    .pncbox--pricetag p {
      /* transform: rotate(90deg); */
      position: absolute;
      font-size: 15px;
      bottom: 0;
      color: white;
      text-transform: uppercase; }
  .pncbox--colorblock {
    display: flex; }
    .pncbox--colorblock__colors {
      width: 25%;
      cursor: pointer; }

#pt1 {
  color: white; }

#pt2,
#pt2 p {
  color: #121637; }

#pt3,
#pt3 p {
  color: black; }

/* pricebox(components) */
.featurebox {
  width: 20%;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 13px 10px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 10px 18px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 10px 18px -3px rgba(0, 0, 0, 0.75); }
  .featurebox--icon {
    margin-bottom: 1rem; }
    .featurebox--icon__1 {
      width: 7rem; }
    .featurebox--icon__2 {
      width: 7rem; }
    .featurebox--icon__3 {
      width: 10rem; }
  .featurebox--header {
    font-size: 2rem;
    text-transform: uppercase; }
  .featurebox--text {
    font-size: 1.5rem; }

.row {
  display: flex;
  justify-content: space-between;
  margin: 2rem; }

.card {
  background-color: white;
  width: 70%;
  padding: 1rem 3rem;
  border-radius: 15px;
  margin: 5rem 1rem;
  position: relative;
  transition: all .5s;
  -webkit-box-shadow: 18px 21px 27px -6px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 18px 21px 27px -6px rgba(0, 0, 0, 0.72);
  box-shadow: 18px 21px 27px -6px rgba(0, 0, 0, 0.72); }
  .card--logo {
    width: 5rem;
    transition: all .5s;
    margin-top: 1rem; }
  .card--shoe {
    width: 30rem;
    transition: all .5s; }
  .card--name--brand {
    display: block;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #00C2FF;
    transition: all .5s; }
  .card--name--model {
    font-size: 3rem;
    text-transform: uppercase;
    color: #0136B4;
    transition: all .5s; }
  .card--price {
    font-size: 2.5rem;
    color: #00C2FF;
    background-color: #1E1E1E;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    position: absolute;
    right: -3rem;
    top: 80%;
    z-index: 1000;
    transition: all .5s; }
  .card--ctadiv {
    display: flex;
    justify-content: center; }
  .card--cta {
    width: 6rem; }
  .card--colorblock {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-48%);
    justify-content: center; }
  .card--color {
    width: 25%;
    border-radius: 30px;
    height: 1.9rem;
    margin-left: -2rem;
    -webkit-box-shadow: -5px 0px 15px -1px black;
    -moz-box-shadow: -5px 0px 15px -1px black;
    box-shadow: -5px 0px 15px -1px black; }
    .card--color:first-child {
      width: 30%; }
    .card--color:last-child {
      width: 35%; }
  .card:hover {
    transform: scale(1.05); }
  .card:hover .card--shoe {
    transform: rotate(20deg); }
  .card:hover .card--name--brand {
    transform: translateX(2rem); }
  .card:hover .card--name--model {
    transform: translateX(5rem);
    letter-spacing: 5px; }
  .card:hover .card--logo {
    transform: translateX(20%) scale(1.3); }
  .card:hover .card--price {
    transform: translateX(-2rem) scale(1.2); }

.stars {
  margin-top: 2rem; }
  .stars--icon {
    font-size: 15px; }
  .stars--number {
    font-size: 2rem; }

.nav {
  height: 100%;
  width: 0;
  background-color: black;
  z-index: 1000;
  position: absolute;
  right: 100vw;
  overflow: hidden; }
  .nav--backdrop {
    /* height: 100%; */
    width: 100%;
    position: absolute; }
  .nav--icon {
    position: fixed;
    z-index: 1000;
    top: 5px;
    right: 5px;
    /* top: 1px; */
    font-size: 40px;
    color: white; }
  .nav--back {
    position: absolute;
    z-index: 2000;
    font-size: 40px;
    right: 0;
    text-decoration: none;
    color: white; }
  .nav--list {
    position: absolute;
    bottom: 10%;
    z-index: 2000; }
  .nav__item {
    display: block;
    margin: 20px;
    background-image: linear-gradient(102deg, white 0%, #00ffb7 30%, #00ffc3 30%, blue 100%);
    background-size: 350%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.5s; }
    .nav__item:hover {
      background-position: 100%;
      transform: translateX(7px);
      font-weight: bold; }
  .nav__link {
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    color: transparent; }

.grid {
  display: grid;
  padding: 5rem; }
  .grid-6 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50rem; }
    .grid-6--child {
      background-color: white;
      margin: 4rem;
      border-radius: 15px; }

/* slider styles */
/* .glider{
    height: 670px;
} */
.arrow {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s; }
  .arrow:hover {
    color: white; }

#slider-prev,
#slider-next {
  font-size: 30px; }

.rect {
  width: 590px;
  height: 410px;
  border: white solid 8px;
  position: absolute;
  z-index: 1000;
  border-radius: 10px; }
  .rect__1, .rect__2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }

/* SLIDES */
.slideblock {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh; }

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 150px;
  margin: 10px; }

/* slide1 */
#slideblock1 {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.856)), url(../img/tim-mossholder-5vh4crJBztg-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position-y: 80%; }
  #slideblock1::after {
    content: "";
    display: table;
    clear: both; }

#pic1 {
  width: 0%;
  animation: popup .8s ease-in; }

#pic2 {
  width: 550px;
  position: absolute;
  top: 8%;
  left: 15%;
  transform: rotate(-17deg);
  z-index: 2000;
  animation: slideleft .8s ease-in-out; }

.corner {
  position: absolute;
  animation: popup 1s ease-in;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  top: 0; }

.name {
  font-size: 6rem;
  position: absolute;
  left: -16%;
  top: 16%;
  margin: 0;
  animation: popup .8s ease-in;
  text-transform: uppercase;
  font-weight: 100;
  z-index: 3000; }

#v-bred {
  position: absolute;
  left: -22%;
  top: 55%;
  font-size: 6rem;
  animation: popup 1s ease-in;
  text-transform: uppercase;
  font-style: italic; }

/* slide2 */
#slideblock2 {
  background-color: #3354FB;
  position: relative; }
  #slideblock2::after {
    content: "";
    display: table;
    clear: both; }

#shoe2 {
  width: 55%;
  position: absolute;
  top: 10%;
  left: 8%;
  animation: slideleft 0.8s ease-in-out;
  z-index: 2; }

#nine {
  font-size: 150px;
  position: absolute;
  bottom: 0; }

.shoej9 {
  width: 550px;
  position: absolute;
  top: 10%;
  left: 20%;
  animation: slideleft 0.8s ease-in-out;
  z-index: 2; }

/* slide 3 */
#slideblock3 {
  background-color: #F8D765; }

#guyonstairs {
  width: 35%;
  position: absolute;
  bottom: 0;
  left: 10%;
  animation: slideleft 1s ease-in-out; }

#shoe3 {
  width: 38%;
  transform: rotate(-32deg) rotateY(180deg);
  position: absolute;
  right: 5%;
  top: 30%;
  animation: popup 2s; }

#slide3div {
  font-size: 80px;
  text-transform: uppercase;
  position: absolute;
  top: 8%;
  margin: 10px;
  color: #121637;
  animation: popup 2s; }

#slide3div2 {
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  margin: 10px;
  right: 25%;
  color: #121637;
  font-style: italic;
  animation: slideleft 1s ease-in-out; }

/* slide 4 */
#slideblock4 {
  background-image: linear-gradient(to bottom right, #00e1ff 10%, #000208); }

#slide4bg {
  width: 80%;
  position: absolute;
  right: 0; }

#slide4div {
  font-size: 80px;
  position: absolute;
  top: 50%;
  margin: 15px;
  transform: translateY(-50%);
  text-transform: uppercase;
  /* animation: slideleft 1s ease-in-out; */ }

#dc {
  color: white; }

#pure {
  background-image: linear-gradient(to left, cyan 40%, #0206ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.shoe-dc {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(20deg); }

/* slide 5 */
#slideblock5 {
  background-image: url(../img/steven-lelham-atSaEOeE8Nk-unsplash.jpg);
  background-size: cover; }

#slide5div {
  font-size: 100px;
  text-transform: uppercase;
  margin-left: 10px;
  position: absolute;
  top: 10%; }

.home {
  padding: 2rem 0;
  background-image: linear-gradient(150deg, #3A00FF, #00FCAF); }

.section-features {
  margin: 6rem 3rem; }

.section-about {
  margin-top: 10rem;
  display: flex;
  justify-content: center; }
  .section-about::after {
    content: "";
    display: table;
    clear: both; }

.section-arrivals {
  margin: 10rem 2rem 0rem 2rem; }

.section-categories {
  margin-top: 10rem;
  background: linear-gradient(to right bottom, rgba(0, 255, 255, 0.4), rgba(0, 0, 255, 0.4)), url(../img/catbackground.jpg);
  background-position: center;
  background-size: cover; }
