.grid{
    display: grid;
    padding: 5rem;

    &-3{
        grid-template-columns: repeat(3, 1fr);
        // grid-gap: 10rem
        &--child{
            margin: 4rem;
            border-radius: 15px;
        }
    }
}