.row{
    display: flex;
    padding: 1rem;
    &-2{
        &--child{
            width: 40%;
            margin: 2rem;
        }       
    }
    &-3{
        &--child{
            width: 20%;
            margin: 2rem;
        }
    }

    &-7{
        &--child{
            width: 13%;
        }
    }
}