/* buttons(component) */

#nikebtn,
#nike2btn,
#adidasbtn,
#dcbtn,
#racebtn{
    position: absolute;
    top: 80%;
    left: 0%;
}



#adidasbtn{
    color: #121637;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#racebtn{
    color: #162376;
}
#dcbtn{
    // position: relative;
    z-index: 6000;
}


#adidasbtn:hover span{
    background: linear-gradient(to right, #0077ff, #121637);
}

#nikebtn:hover span{
    background: linear-gradient(to right, #ff0000, #ff8717);
} 

#nike2btn:hover span{
    background: linear-gradient(to right, #0077ff, #110068);
} 

#dcbtn:hover span{
    background: linear-gradient(to right, #00c3ff, rgb(255, 255, 255));
    // z-index: 6000;
}

#racebtn:hover span{
    background: linear-gradient(to right, #162376, cyan);
}

.btn{
    /* position: relative;     */
    color: #ffffff;
    padding: 20px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 18px 46px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 46px -7px rgba(0,0,0,0.75); 
     box-shadow: 0px 18px 46px -7px rgba(0,0,0,0.75);
    text-decoration: none;

    overflow: hidden;
    z-index: 300;
    transition: all .4s;
    animation: popup 1s ease-in; 
        
    &:hover{
        transform:  translateX(5px);

        & span:nth-child(1){
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            animation: btnanimate1 2s linear infinite;
        }

        & span:nth-child(2){
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
            animation: btnanimate2 2s linear infinite;
            animation-delay: 1s; 
        }
        
        & span:nth-child(3){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 2px;
            animation: btnanimate3 2s linear infinite;
        
        }

        & span:nth-child(4){
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            animation: btnanimate4 2s linear infinite;
            animation-delay: 1s; 
        }
    }

    &:active{
        transform: scale(0.9);
    }    
}

