.card{
    background-color: white;
    // width: 60%;
    padding: 3rem 4rem;
    border-radius: 15px;
    margin: 5rem;
    position: relative;
    transition: all .5s;

    &--logo{
    //     width: 5rem;
       transition: all .5s;  
    //    margin-top: 1rem;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 20%;
    margin: 1rem 0 0 1rem;
    }
    &--shoe{
        width: 100%;
        @include respond(tab-port){  
            width: 80%;
          }  
          @include respond(phone){  
            width: 50%;
            // position: relative;
            left: 30%;
            // right: 0%;
          }
       transition: all .5s;  
       z-index: 200;
       position: relative;

    }
    &--name{
        @include respond(phone){  
            // font-size: 4rem;
            text-align: center;
          }
        &--brand{
            display: block;
            text-transform: uppercase;
            font-size: 2.5rem;
            color: #00C2FF;
            transition: all .5s;
            @include respond(phone){  
                font-size: 4rem;
                text-align: center;
              }
        }
        &--model{
            font-size: 2.8rem;
            text-transform: uppercase;
            color: #0136B4;
            transition: all .5s;
            @include respond(phone){  
                font-size: 6rem;
              }
        }
    }
    &--price{
        font-size: 2.5rem;
        color: #00C2FF;
        background-color: #1E1E1E;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 30px;
        position: absolute;
        right: -3rem;
        top: 80%;
        z-index: 1000;
       transition: all .5s;  
       @include respond(tab-port){
           font-size: 1.5rem;
       }
       @include respond(phone){
        font-size: 2.5rem;
    }
    }
    &--ctadiv{
        display: flex;
        justify-content: center;
    }
    
    &--cta{
        width: 4rem;
        opacity: 0;
       transition: all .5s;
       cursor: pointer;  
       @include respond(tab-land){  
        width: 6rem;
      }
      @include respond(phone){  
        width: 10rem;
      }
       
    }
    &--colorblock{
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-48%);
        justify-content: center;
    }
    &--color{
        width: 25%;
        border-radius: 30px;
        height: 1.9rem;
        margin-left: -2rem;
        -webkit-box-shadow:  -6px 3px 22px -1px black;;
        -moz-box-shadow:  -6px 3px 22px -1px black;;
        box-shadow:  -6px 3px 22px -1px black;
        &:first-child{
            width: 30%;
        }
        &:last-child{
            width: 35%;
        }
    }

    &:hover{
        transform: scale(1.05);
        -webkit-box-shadow: 4px 21px 27px -6px rgba(0,0,0,0.72);
        -moz-box-shadow: 4px 21px 27px -6px rgba(0,0,0,0.72);
        box-shadow: 4px 21px 27px -6px rgba(0,0,0,0.72);
    }

    &:hover &--shoe{
        transform: rotate(20deg) scale(1.2) translateX(10px);
    }
    &:hover &--name--brand{
        transform: translateX(2rem);
    }
    &:hover &--name--model{
        transform: translateX(5rem);
        letter-spacing: 5px;
    }
    &:hover &--logo{
        width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 0.3;
    }
    &:hover &--price{
        transform: translateX(-2rem) scale(1.2);
    }
    &:hover &--cta{
        opacity: 100%;
    }
}


// .cardlink,
// .cardlink:visited,
// .cardlink:active{
//     text-decoration: none;
//     border: none;
// }