.card{
    background-color: white;
    width: 70%;
    padding: 1rem 3rem;
    border-radius: 15px;
    margin: 5rem 1rem;
    position: relative;
    transition: all .5s;
    -webkit-box-shadow: 18px 21px 27px -6px rgba(0,0,0,0.72);
   -moz-box-shadow: 18px 21px 27px -6px rgba(0,0,0,0.72);
   box-shadow: 18px 21px 27px -6px rgba(0,0,0,0.72);

    &--logo{
        width: 5rem;
       transition: all .5s;  
       margin-top: 1rem;
    }
    &--shoe{
        width: 30rem;
       transition: all .5s;  
    }
    &--name{
        &--brand{
            display: block;
            text-transform: uppercase;
            font-size: 2.5rem;
            color: #00C2FF;
            transition: all .5s;
        
        }
        &--model{
            font-size: 3rem;
            text-transform: uppercase;
            color: #0136B4;
            transition: all .5s;

        }
    }
    &--price{
        font-size: 2.5rem;
        color: #00C2FF;
        background-color: #1E1E1E;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 30px;
        position: absolute;
        right: -3rem;
        top: 80%;
        z-index: 1000;
       transition: all .5s;  
    }
    &--ctadiv{
        display: flex;
        justify-content: center;
    }
    
    &--cta{
        width: 6rem;
    }
    &--colorblock{
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-48%);
        justify-content: center;
    }
    &--color{
        width: 25%;
        border-radius: 30px;
        height: 1.9rem;
        margin-left: -2rem;
        -webkit-box-shadow:  -5px 0px 15px -1px black;;
        -moz-box-shadow:  -5px 0px 15px -1px black;;
        box-shadow:  -5px 0px 15px -1px black;
        &:first-child{
            width: 30%;
        }
        &:last-child{
            width: 35%;
        }
    }

    &:hover{
        transform: scale(1.05);
    }

    &:hover &--shoe{
        transform: rotate(20deg);
    }
    &:hover &--name--brand{
        transform: translateX(2rem);
    }
    &:hover &--name--model{
        transform: translateX(5rem);
        letter-spacing: 5px;
    }
    &:hover &--logo{
        transform: translateX(20%) scale(1.3);
    }
    &:hover &--price{
        transform: translateX(-2rem) scale(1.2);
    }
}