.valid{
    border: green 2px solid !important;
}
.invalid{
    border: red 2px solid !important;
}

.input{
    &-textbox{
        border-radius: 30px;
        border: none;
        padding: 15px 20px;
        transition: all .2s;
        font-size: 1.5rem;
        width: 80%;
        @include respond(tab-land){  
            font-size: 5rem;
          }
        @include respond(phone){  
            font-size: 3rem;
          }
        &:placeholder-shown + label{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all .2s;
            font-family: Montserrat;
        }
    }
    &-number{
        width: 4rem;
        border: gray 1px solid;
        border-radius: 30px;
        padding: 5px 20px;
        font-family: Montserrat;
        @include respond(tab-port){
            font-size: 4rem;
            width: 8rem;
        }
    }
    &-select{
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        width: 80%;
        font-family: Montserrat;
    }
    &-textarea{
        width: 50%;
        height: 10rem;
        font-family: Montserrat;
        border-radius: 20px;
        padding: 10px;
        border: none;
    }
    &--label{
        font-size: 1.5rem;
    }
}


