*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}
.cardlink,
.cardlink:visited,
.cardlink:active{
    text-decoration: none;
    border: none;
}

.removed{
    animation: removed 1s forwards;
}
