.normal-text{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.medium-text{
    font-size: 2rem;
}


.white-text{
    color: rgb(255, 255, 255);
    margin: 0;
}

.red-text{
    color: red;
}

.black-text{
    color: black;
}

.header-text{
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.blue-text{
    color: #0136B4;
}


