.white-text{
    color: rgb(255, 255, 255);
    margin: 0;
}

.red-text{
    color: red;
}

.black-text{
    color: black;
}

.header{
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.blue-text{
    color: #0136B4;
}

