/* slider styles */
/* .glider{
    height: 670px;
} */

.arrow{
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;

    &:hover{
        color:white;
    }  
 }
 

 #slider-prev,
 #slider-next{
     font-size: 30px;
 }

 .rect{
    width: 590px;
    height: 410px;
    position: absolute;
    z-index: 1000;
    border-radius: 10px;
    &__1,
    &__2,
    &__3{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__1,
    &__2{
    border: white solid 8px;
    }

    &__3{
        border: #161830 solid 8px;
    }
}

 
 .dots-container{
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
 }

 /* SLIDES */
.slideblock{
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;

    height: 100vh;
}

/* slide1 */

#slideblock1{
    background: linear-gradient(to right bottom ,rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.856)),url(../img/tim-mossholder-5vh4crJBztg-unsplash.jpg);
    @include clearfix;
    height: 100vh;
    background-size: cover;
    background-position-y: 80%;
}


#pic1{
    width: 0%;
    // animation: popup .8s ease-in;
}

#pic2{
    width: 55rem;
    position: absolute;
    top: 8%;
    left: 15%;
    transform: rotate(-17deg);
    z-index: 2000;
    // animation: slideleft .8s ease-in-out;
}

.corner{
    position: absolute;
    // animation: popup 1s ease-in;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    top: 0;
}

.name{
    font-size: 6rem;
    position: absolute;
    left: -16%;
    top: 16%;
    margin: 0;
    // animation: popup .8s ease-in;
    text-transform: uppercase;
    font-weight: 100;
    z-index: 3000;

    &__adidas{
        font-size: 9rem !important;
    }
}

#v-bred{
    position: absolute;
    left: -22%;
    top: 55%;
    font-size: 6rem;
    // animation: popup 1s ease-in;
    text-transform: uppercase;
    font-style: italic;
}

/* slide2 */
#slideblock2{
    background-color:#3354FB;
    position: relative;
    @include clearfix;
}

#nine{
    font-size: 15rem;
    position: absolute;
    bottom: 0;
}


.shoe-j9{
    width: 55rem;
    position: absolute;
    top: 10%;
    left: 20%;
    // animation: slideleft 0.8s ease-in-out;
    z-index: 2;
}



/* slide 3 */

#slideblock3{
    background-color: #F8D765;
}


#guyonstairs{
    width: 35rem;
    position: absolute;
    bottom: 0;
    left: 0;
    // animation: slideleft 1s ease-in-out;
    
}

#shoe3{
    width: 64rem;
    position: absolute;
    transform: rotateY(180deg);
    right: -24%;
    top: 18%;
    // animation: popup 2s;

}

#slide3div{
    font-size: 80px;
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    margin: 10px;
    color: #121637;
    // animation: popup 2s;
}

#slide3div2{
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    margin: 10px;
    right: 25%;
    color: #121637;
    font-style: italic;  
    // animation: slideleft 1s ease-in-out;
}

/* slide 4 */
#slideblock4{
    background: linear-gradient(to right bottom ,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/jan.jpg);
    @include clearfix;
    height: 100vh;
    background-size: cover;
    background-position-y: 80%;
}


#dc{
    color: white;
}
#pure{
    background-image: linear-gradient(to left, cyan 40%, rgb(2, 6, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.shoe-dc{
    width: 58rem;
    position: absolute;
    right: -67%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
}

/* slide 5 */

#slideblock5{
    background-image: url(../img/steven-lelham-atSaEOeE8Nk-unsplash.jpg);
    background-size: cover;
}

#slide5div{
    font-size:100px;
    text-transform: uppercase;
    margin-left: 10px;
    position: absolute;
    top: 10%;
}

