/* slider styles */
/* .glider{
    height: 670px;
} */

.arrow{
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;

    &:hover{
        color:white;
    }  
 }
 

 #slider-prev,
 #slider-next{
     font-size: 30px;
 }

 .rect{
    width: 59rem;
    height: 41rem;
    position: absolute;
    z-index: 5000;
    border-radius: 10px;
    &__1,
    &__2,
    &__3,
    &__4{
        top: 50%;
        left: 40%;
        transform: translateY(-50%);
    }
    &__1,
    &__2{
    border: white solid 8px;
    }

    &__3{
        border: #161830 solid 8px;
    }
    &__4{
        border: #3d3d3d solid 8px
    }
}

 
 .dots-container{
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
 }

 /* SLIDES */
.slideblock{
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: all .5s;
}

/* slide1 */

#slideblock1{
    // background-color: rgb(253, 19, 19);
    // @include clearfix;
    background-color:rgb(255, 20, 20);
    position: relative;
    @include clearfix;
    transition: all .5s;
}
.jordan-png{
    width: 50rem;
    z-index: 6000;
    position: relative;
    transition: all .5s;
}

#pic1{
    width: 0%;
    // animation: popup .8s ease-in;
}

#pic2{
    width: 55rem;
    position: absolute;
    top: 8%;
    left: 15%;
    transform: rotate(-17deg);
    z-index: 2000;
    // animation: slideleft .8s ease-in-out;
}

.corner{
    position: absolute;
    // animation: popup 1s ease-in;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    top: 0;
}

.name{
    font-size: 6rem;
    position: absolute;
    left: -16%;
    top: 16%;
    margin: 0;
    // animation: popup .8s ease-in;
    text-transform: uppercase;
    font-weight: 100;
    z-index: 3000;

    &__adidas{
        font-size: 9rem !important;
    }
}

#vi{
    position: absolute;
    left: -22%;
    top: 55%;
    font-size: 5.5rem;
    // animation: popup 1s ease-in;
    text-transform: uppercase;
    font-style: italic;
}

/* slide2 */
#slideblock2{
    background-color:#3354FB;
    position: relative;
    @include clearfix;
    transition: all .5s;
}


#nine{
    font-size: 15rem;
    position: absolute;
    bottom: 0;
}


.shoe-j9{
    width: 55rem;
    position: absolute;
    top: 10%;
    left: 20%;
    // animation: slideleft 0.8s ease-in-out;
    z-index: 2;
}



/* slide 3 */

#slideblock3{
    background-color: #F4CD4A;
    position: relative;
}


#guyonstairs{
    width: 35rem;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slideleft 1s ease-in-out;
}


#shoe3{
    width: 64rem;
    position: absolute;
    transform: rotateY(180deg);
    right: -24%;
    top: 18%;
    animation: popup 2s;
    position: relative;
    z-index: 2000;

}

#slide3div{
    font-size: 80px;
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    margin: 10px;
    color: #121637;
    // animation: popup 2s;
}

#slide3div2{
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    margin: 10px;
    right: 25%;
    color: #121637;
    font-style: italic;  
    // animation: slideleft 1s ease-in-out;
}

/* slide 4 */
#slideblock4{
    background-color: #EDF2F4;
    @include clearfix;
    height: 100vh;
    background-size: cover;
    background-position-y: 80%;
}
#guyonbike{
    width: 60rem;
    transition: all .5s;
}


#pure{
    background-image: linear-gradient(to left, cyan 40%, rgb(2, 6, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.shoe-dc{
    width: 58rem;
    position: absolute;
    right: -67%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
}

/* slide 5 */

#slideblock5{
    background-color: #00C4DA
}

#slide5{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10rem;
    text-transform: uppercase;
    color: #162376;

    &-img1{
        position: absolute;
        right: 15%;
        width: 40%;
        bottom: 0;
    }
    &-img2{
        position: absolute;
        left: 15%;
        width: 42%;
        bottom: 0;
    }
    &--the{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &--sprint{
        position: absolute;
        left: -4%;
        top: 50%;
        transform: translateY(-50%);
    }
    &--kit{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    

}




.img-div{
    overflow:hidden;
    position: absolute;
    left: 10rem;
    top: 3rem;
}


.color-div{
    mix-blend-mode: hue;
    background-color: transparent;
    position: absolute;
    top: -2rem;
    z-index: 7000;
    transition: all .5s;
}
