.home{
    padding: 2rem;
    background-image: linear-gradient(150deg, #3A00FF, #00FCAF );
    // background-color: red;;
}
.section-features{
    margin: 6rem 3rem;


}
.section-about{
    position: relative;
    @include clearfix;
    height: 100vh;
    margin-top: 8rem;
}

